VITE_SUI_NETWORK=testnet
VITE_REGISTRY_PACKAGE_ID=
VITE_REGISTRY_OBJECT_ID=
VITE_EVE_WORLD_PACKAGE_ID=0x28b497559d65ab320d9da4613bf2498d5946b2c0ae3597ccfda3072ce127448c
VITE_WORLD_API=https://world-api-stillness.live.tech.evefrontier.com
VITE_USE_MOCK_DATA=true
