KARUM_DISCORD_TOKEN=
KARUM_SUI_RPC_URL=https://fullnode.testnet.sui.io
KARUM_REGISTRY_PACKAGE_ID=0xd247fa711afcf18a6dd28ee209e03c84bb81ec86cdd1f306fe941e141ecc4c14
KARUM_POLL_INTERVAL_SECONDS=30
KARUM_COMMAND_PREFIX=!
KARUM_GUILD_CONFIG_PATH=data/guilds.json
